{{#if data1}}
<div class="container-fluid my-5">
  <h1 class="text-center m-3"> Destacados</h1>
  <div class="d-flex flex-wrap justify-content-between">
    <!-- Tarjetas repetidas -->
    {{#each data1}}
    <div class="card m-3" style="border:none; flex-grow: 1; flex-basis: calc(33.333% - 2rem); min-width: 250px;">
      <div class="row g-0">
        <div class="col-md-4 d-flex align-items-center">
          <img src="uploads/images/img_m/{{this.picture}}" alt="{{this.title}}" class="img-fluid rounded-circle"
            style="object-fit: contain; ">
        </div>
        <div class="col-md-8">
          <div class="card-body" >
            <h5 class="card-title"><b>{{this.title}}</b></h5>
            <p class="card-text">{{this.text}}</p>

            <div class="btn-group">
               <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editModal" data-id="{{id_content}}" data-title="{{this.title}}" data-text="{{this.text}}" data-picture="{{this.picture}}">Editar</button>
              <a class="btn btn-sm btn-outline-secondary" href="\del?id={{id_content}}&name=content"
                style="text-decoration: none;">Eliminar</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/if}}

{{#if data2}}
<div class="container-fluid my-5">
  <h1 class="text-center m-3"> Nuestros Partners</h1>
  <div class="d-flex flex-wrap justify-content-between">
    <!-- Tarjetas repetidas -->
    {{#each data2}}
    <div class="card m-3" style="border:none; flex-grow: 1; flex-basis: calc(33.333% - 2rem); min-width: 250px; ">
      <div class="row g-0">
        <div class="col-12 d-flex justify-content-center">
          <img src="uploads/images/img_m/{{this.picture}}" alt="{{this.title}}" class="img-fluid rounded-start"
            style="width: 300px; height: 300px; object-fit: contain;">
        </div>
        <div class="col-12">
          <div class="card-body" style="margin-left: auto; margin-right: auto; max-width: 300px;">
            <h5 class="card-title"><b>{{this.title}}</b></h5> 
            <p class="card-text">{{this.text}}</p>

            <div class="btn-group">
              
              <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editModal" data-id="{{id_content}}" data-title="{{this.title}}" data-text="{{this.text}}" data-picture="{{this.picture}}">Editar</button>
              <a class="btn btn-sm btn-outline-secondary" href="/del?id={{id_content}}&name=content"
                style="text-decoration: none;">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{/each}}
  </div>
</div>
{{/if}}


<div class=" text-secondary px-4 py-5 my-5 text-center">
  <div class="py-5">
    <img class="d-block mx-auto mb-4" src="assets/logo_l.png" alt="Legionario Logo" width="200px" />

    <h1 class="display-5 fw-bold" style="color: var(--text-color)">Mecatrónica al servicio de la agricultura</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">
        Optimización de las aplicaciones de agroquímicos, con sistemas electrónicos robustos y preparados para resistir
        las más duras condiciones en los campos.
        Reduce costos, ahorra tiempo y mejora la eficiencia con nuestros sistemas mecatrónicos.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/products" class="btn btn-primary btn-lg px-4 me-sm-3">
          Soluciones
        </a>
        <a href="/contact" class="btn btn-outline-secondary btn-lg px-4">
          Contáctanos
        </a>
      </div>
    </div>
  </div>
</div>
<div class="b-example-divider"></div>




<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar Contenido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editForm" method="POST" action="/update" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" class="form-control" id="title" name="title" required>
          </div>
          <div class="mb-3">
            <label for="text" class="form-label">Texto</label>
            <textarea class="form-control" id="text" name="text" required></textarea>
          </div>
          <div class="mb-3">
            <label for="picture" class="form-label">Imagen</label>
            <input type="file" class="form-control" id="picture" name="picture">
          </div>
          <input type="hidden" id="id" name="id">
          <input type="hidden" id="table" name="table" value="content">
          <input type="hidden" id="fit" name="fit" value="inside">
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>
  // Fill the modal with content data when the 'Editar' button is clicked
  var editModal = document.getElementById('editModal');
  editModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget;
    var id = button.getAttribute('data-id');
    var title = button.getAttribute('data-title');
    var text = button.getAttribute('data-text');
    var picture = button.getAttribute('data-picture');

    var modalTitle = editModal.querySelector('.modal-title');
    var titleInput = editModal.querySelector('#title');
    var textInput = editModal.querySelector('#text');
    var pictureInput = editModal.querySelector('#picture');
    var id_content = editModal.querySelector('#id');

    modalTitle.textContent = 'Editar ' + title;
    titleInput.value = title;
    textInput.value = text;
    id_content.value = id;
    pictureInput.value=picture;
  });
</script>


<div class="container-sm my-5">
  {{#if user}}
  <h3>
    Agregar Contenido
  </h3><br />
  <form class="row g-3" method="POST" action="/add_content" enctype="multipart/form-data">
    <div class="input-group mb-3">

      <input type="file" class="form-control" name="picture" id="picture">
      <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>

    <div class="input-group mb-3">
      <select class="form-select" name="type" aria-label="Seleccionar Plantilla">
        <option value="1" selected>Productos</option>
        <option value="1">Productos</option>
        <option value="2">Partner</option>
        <option value="3">plantilla 3</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Título</span>
      <input type="text" class="form-control" name="title" id="name" placeholder="Nombre Producto" aria-label="Nombre"
        aria-describedby="basic-addon1">
    </div>

    <div class="input-group">
      <span class="input-group-text">Contenido</span>
      <textarea class="form-control" name="content" aria-label="With textarea"></textarea>
    </div>

    <div class="input-group">
      <button type="submit" class="btn btn-primary mb-3">Agregar</button>
    </div>


  </form>

  {{/if}}
</div>