<main>


  </div>


  <div class="album py-5 bg-light">
    <div class="container">
      <div class="card  mt-3">

        <div class="card-body ">
          <h3 class="card-title">Nuestros Productos</h3>
          <h6 class="card-subtitle mb-2 text-muted">Soluciones para una agricultura más eficiente</h6>
          <p class="card-text">
            Ofrecemos una línea especializada de equipos para la automatización de la aplicación de productos químicos
            en la
            agricultura:

            Barra fija: Diseñada para aplicaciones precisas y uniformes.

            Barra hidráulica: Ajustable para mayor versatilidad y eficiencia.

            Barra para moto: Solución compacta y flexible para diferentes terrenos.

            Nebulizador con sensores: Control automático para una aplicación precisa y eficiente.

            Aplicaciones foliares: Diseñadas para maximizar la absorción y efectividad de los productos.

            Cada uno de nuestros productos está diseñado para optimizar el uso de insumos, reducir desperdicios y
            mejorar la
            rentabilidad del negocio agrícola. Contáctanos para encontrar la mejor solución para tu campo.
          </p>

        </div>



        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {{#each data}}


          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                src="uploads/images/img_t/thumb_{{picture}}" alt="{{name}}">

              <div class="card-body">
                <p class="card-title"><b>{{name}}</b></p>
                <p class="card-text">{{text}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                    <a class="btn btn-sm btn-outline-secondary" href="\products?id={{id_product}}"
                      style="text-decoration: none; color:crimson ;">Eliminar</a>
                  </div>
                  <!-- <small class="text-muted">9 mins</small>-->
                </div>
              </div>
            </div>
          </div>
          {{/each}}

        </div>
      </div>
    </div>

</main>

{{#if user}}

<!--Creation Section-->
<div class="container-sm">


  <h3>
    Agregar Contenido
  </h3><br />
  <form class="row g-3" method="POST" action="/products" enctype="multipart/form-data">
    <div class="input-group mb-3">

      <input type="file" class="form-control" name="picture" id="picture">
      <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">$</span>
      <input type="text" class="form-control" name="price" aria-label="Amount (to the nearest dollar)">
      <span class="input-group-text">.00</span>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Título</span>
      <input type="text" class="form-control" name="name" id="name" placeholder="Nombre Producto" aria-label="Nombre"
        aria-describedby="basic-addon1">
    </div>

    <div class="input-group">
      <span class="input-group-text">Descripción</span>
      <textarea class="form-control" name="text" aria-label="With textarea"></textarea>
    </div>

    <div class="input-group">
      <button type="submit" class="btn btn-primary mb-3">Agregar</button>
    </div>


  </form>
</div>
{{/if}}